<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js" async></script>
</head>
<body>
    <div id="gallery-container">
        <h1>Gallery</h1>
        <div id="gallery"></div>
        <div id="pages"></div>
        <div id="full-size-box" class="full-size-disable"></div>
        <div id="full-size-bg" class="full-size-disable"></div>
    </div>
    <script type="text/template" id="photoTemplate">
        <img src="{{photoUrl}}" class="photo">
    </script>
    <script type="text/template" id="fullSizeTemplate">
        <img src="{{photoUrl}}" id="full-size">
    </script>
    <script type="text/template" id="pageTemplate">
        <span class="page">{{page}}</span>
    </script>
    <script type="text/template" id="skippedPagesTemplate">
        <span>...</span>
    </script>
</body>
</html>