h1 {
    text-align: center;
}
#gallery {
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img {
    cursor: zoom-in;
    margin: 10px;
    flex: 1 1 auto;
}

#pages {
    text-align: center;
}
.page {
    font-weight: bold;
}
.page:hover {
    cursor: pointer;
    color:chocolate;
}
.page.active {
    font-size: 18px;
    font-weight: bold;
    color:chocolate;
}

#full-size {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 31;
    outline: none;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#full-size-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background: rgba(90, 88, 88, 0.9);
    cursor: zoom-out;
  }

.full-size-disable {
    display: none;
}