.chatbox {
    position: relative;
    min-height: 100vh;
    width: 50%;
    background-color: #fff;
}

.msg-field {
    margin: 10px;
    font-size: 16px;
    overflow: auto;
}

.msg-text {
    margin: 5px 0;
}

.msg-text span{
    font-weight: 600;
}

.msg-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.msg-input {
    width: 100%;
    height: 30px;
    font-size: 22px;
    box-sizing: border-box;
    outline: none;
    margin: 10px 0 10px 0;
    padding: 0;
}

