.login-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    flex: 0 1 40%;

    background-image: linear-gradient(rgba(193, 215, 255, 0.4), rgb(196, 253, 255, 0.4));
    border-radius: 22px 0 22px 0;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.35);
}

.login-label {
    margin: 0 0 10px 0;
    font-size: 22px;
}
.login-form {
    display: flex;
}
.login-input {
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-weight: 600;

    border: none;
    outline: none;
}

.login-btn {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: 10px;
    min-width: 20%;
    background-color: rgba(100, 100, 255, 0.35);
    border: none;
    border-radius: 7px;
    transition: .2s ease all;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.35);
}

.login-btn:hover {
    cursor: pointer;
    background-color: rgba(60, 60, 255, 0.55);
}