<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="zoomy.css" />
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
        defer>
    </script>
    <script src="index.js" defer></script>
    <script src="zoomy.js" defer></script>

</head>
<body>
    <div id="gallery"></div>
    
    <script type="text/template" id="photoTemplate">
        <img src="{{photoUrl}}">
    </script>
</body>
</html>