<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js" async></script>
</head>
<body>
    <div id="list-container">
        <h1>Todo list</h1>
    </div>
    <div id="add-task-form">
        <input type="text" id="task-input">
        <button id="add-task-button" type="button">Add task</button>
    </div>

<script id="newTask-template" type="text/template">
    <div class="list-item {{isDone}}" data-task-id="{{id}}">
        <p class="task-text">{{tasktext}}</p>
        <div class="task-remove-button"></div>
    </div>
</script>
</body>
</html>