<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js" async></script>
</head>
<body>
    <h1>Gallery</h1>
    <div id="gallery">
    </div>
    <script type="text/template" id="photoTemplate">
        <img src="{{photoUrl}}">
    </script>
</body>
</html>
