h1 {
    text-align: center;
}
#gallery {
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img {
    margin: 10px;
    flex: 1 1 auto;
}
