html, body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
#calculator {
    background-color: azure;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}
#result{
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: white;
}

#actions {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 30%;
    height: 100px;
}

.action {
    padding: 5px;
    flex: 1 0 45%;
}
.action:hover{
    cursor: pointer;
    background-color: rgb(88, 199, 236);;
}