<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js" async></script>
</head>
<body>
<div id="contact-list">
    <h1>Contact list</h1>
    <table id="contact-table">
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </table>
    <div id="add-contact-form">
        <input type="text" id="name-input" placeholder="Name">
        <input type="text" id="lastname-input" placeholder="Last name">
        <input type="text" id="phone-input" placeholder="Phone number">
        <button type="button" id="add-contact-button" >Add contact</button>
    </div>    
</div>
<script id="contact-template" type="text/template">
    <tr class="contact">
        <td>{{name}}</td>
        <td>{{lastname}}</td>
        <td>{{phone}}</td>
        <td><div class="delete-button"></div></td>
    </tr>
</script>
</body>
</html>