html, body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
#contact-list {
    margin: 0 auto;
    width: 50%;
}
#contact-list h1 {
    text-align: center;
}

#contact-table {
    text-align: center;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
#contact-table th {
    font-size: 20px;
    border: 2px solid black;
}
#contact-table td, #contact-table th {
    width: 30%;
}
#contact-table td:last-child, #contact-table th:last-child{
    width: 10%;
}
#contact-table tr, #contact-table td{
    height: 35px;
    border: 2px solid black;
}

.delete-button {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgb(248, 161, 161);
    margin-right: 15px;
    border-radius: 20%;
    transition: ease .2s all;
    margin: 0 auto;
}
.delete-button:hover {
    background-color:rgb(221, 99, 99);
    cursor: pointer;
}
.delete-button:before, .delete-button:after {
    content: '';
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 80%;
    height: 2px;
    left: 2px;
}
.delete-button:before {
    top: 9px;
    transform: rotate(45deg);
}
.delete-button:after {
    bottom: 9px;
    transform: rotate(-45deg);
}
#add-contact-form{
    margin-top: 10px;
    text-align: center;
    height: 50px;
}
