<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
        defer>
    </script>
    <script src="utility/constants.js"></script>
    <script src="controller/Controller.js" defer></script>
    <script src="model/Collection.js" defer></script>
    <script src="view/View.js" defer></script>
    <script src="main.js" defer></script>
    <title>Document</title>
</head>
<body>
    
<div class="root">

</div>

<script id="taskTemplate" type="text/template">
    <div class="list-item {{isDone}}" data-task-id="{{id}}">
        {{title}}
        <div class="task-remove-button"></div>
    </div>
</script>
<script id="formTemplate" type="text/template">
    <div id="add-task-form">
        <input type="text" id="task-input">
        <button id="add-task-button" type="button">Add task</button>
    </div>
</script>

</body>
</html>