<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
        defer>
    </script>
    <script src="index.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header id="header">
        <button type="button" id="add-sticker">Add sticker</button>
    </header>
    <div id="sticker-board">
        <div id="sticker-container">
        </div>
    </div>

    <script id="sticker-template" type="text/template">
        <input type="input" class="sticker-input">
        <span class="delete-btn">✘</span>
        <p class="sticker-desc">{{description}}</p>
    </script>
</body>
</html>