html, body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    height: 100%;
}

#header {
    width: 100%;
    height: 70px;
    background-color: rgb(49, 197, 99);
    text-align: right;

}

#add-sticker {
    margin: 10px 50px 0;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

#sticker-board {
    background-color: rgb(194, 255, 217);
    width: 100%;
    min-height: calc(100% - 70px);
}

#sticker-container {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sticker {
    text-align: right;
    margin-bottom: 20px;
    width: 15%;
    min-height: 150px;
    background-color: rgb(184, 241, 255);
    word-wrap: break-word;
}

.sticker-input {
    width: 70%;
    display: none;
}

.sticker-input.active {
    display: inline;
}

.delete-btn {
    padding: 5px;
    color: rgb(255, 82, 82);
    font-size: 25px;
    cursor: pointer;
}

.sticker-desc {
    padding: 0 10px;
    text-align: center;
}