html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ball-options{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 20;
}

.balls-field {
    position: relative;
    width: 100%;
    height: 100vh;
}

.ball {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}