<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js" async></script>
</head>
<body>
<div id="contact-list">
    <h1>Contact list</h1>
    <table id="contact-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </table>
    <form id="add-contact-form">
        <input type="text" id="name-input" placeholder="Name">
        <input type="text" id="email-input" placeholder="Email">
        <input type="text" id="phone-input" placeholder="Phone number">
        <button type="submit" id="add-contact-button" >Add contact</button>
        <button type="button" id="delete-contact-button">Delete contact</button>
        <button type="button" id="edit-contact-button">Edit contact</button>
    </form>    
</div>
<script id="contact-template" type="text/template">
    <tr class="contact" data-contact-id={{id}}>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
    </tr>
</script>
</body>
</html>