html, body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
#contact-list {
    margin: 0 auto;
    width: 65%;
}
#contact-list h1 {
    text-align: center;
}

#contact-table {
    text-align: center;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
#contact-table th {
    font-size: 20px;
    border: 2px solid black;
}
#contact-table td, #contact-table th {
    width: 25%;
}
#contact-table td:last-child, #contact-table th:last-child{
    width: 20%;
}
#contact-table tr, #contact-table td{
    height: 35px;
    border: 2px solid black;
}

#add-contact-form{
    margin-top: 10px;
    text-align: center;
    height: 50px;
}

.contact.active{
    background-color: aquamarine;
}
.hide {
    display: none;
}