html, body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
#list-container {
    background-color: rgb(250, 238, 208);
    margin: 0 auto;
    width: 75%;
    height: 450px;
    overflow: auto;
}
#list-container h1 {
    text-align: center;
}
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(238, 223, 187);
    width: 75%;
    height: 50px;
    margin-bottom: 15px;
}
.task-text {
    font-size: 25px;
    margin-left: 15px;
}
.task-remove-button {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgb(248, 161, 161);
    margin-right: 15px;
    border-radius: 20%;
    transition: ease .2s all;
}
.task-remove-button:hover {
    background-color:rgb(221, 99, 99);
    cursor: pointer;
}
.task-remove-button:before, .task-remove-button:after {
    content: '';
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 80%;
    height: 2px;
    left: 2px;
}
.task-remove-button:before {
    top: 9px;
    transform: rotate(45deg);
}
.task-remove-button:after {
    bottom: 9px;
    transform: rotate(-45deg);
}
#add-task-form{
    margin-top: 20px;
    text-align: center;
    height: 50px;
}
#task-input, #add-task-button{
    height: 30px;
    font-size: 18px;
}
#task-input {
    width: 300px;
}
#add-task-button {
    width: 120px;
}