<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
<div id="root"></div>

<script id="taskTemplate" type="text/template">
    <div class="list-item {{isDone}}" data-task-id="{{id}}">
        {{title}}
        <div class="task-remove-button"></div>
    </div>
</script>
<script id="formTemplate" type="text/template">
    <div id="add-task-form">
        <input type="text" id="task-input">
        <button id="add-task-button" type="button">Add task</button>
    </div>
</script>

</body>
</html>