html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(218, 240, 255);
}

.chat-window {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}