<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
<div id="root"></div>

<script id="albumTemplate" type="text/template">
    <p class="album-title" data-album-id="{{id}}">{{albumTitle}}</p>
</script>
<script id="photoTemplate" type="text/template">
    <img class="album-photo" src={{url}} alt=""/>
</script>

</body>
</html>