html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gallery {
    position: relative;
    width: 100%;
    height: 100vh;
}

.albums-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-image: linear-gradient(rgba(134, 163, 255, 0.25), rgba(215, 170, 250, 0.75));
    overflow: auto;
    text-align: center;
}

.album-title {
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    transition: all .2s ease;
    width: fit-content; 
}

.album-title.active {
    background-color: rgb(180, 255, 255);
}

.album-title:hover {
    cursor: pointer;
    background-color: rgb(240, 255, 255);
}

.photos-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 21%;
}

.album-photo {
    margin: 10px;
}